// Place all the styles related to the category controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.nowPlace{
  display: flex;
  border-bottom: 3px solid gray;
  padding: 20px 60px;
  &__items{
    margin-left: 140px;
  }
  &__space{
    margin: 0 10px;
  }
}

.nowPlace a{
  text-decoration: none;
  color: dimgray;
}

.categoryList{
background-color: gainsboro;
padding: 40px 25%;
}

.categoryLink{
  &__title{
    font-size: 20px;
    font-weight: bold;
  }
  &__linkGenre{
    display: flex;
  }
}

#categoryLink1{
  text-decoration: none;
  color:black;
  background-color: white;
  font-size: 20px;
  padding: 0 20px;
  border: 2px;
  border-radius: 5px;
  border-style: ridge;
  margin-bottom: 10px;
}

#categoryLink2{
  font-size: 20px;
  text-decoration: none;
  color:black;
  background-color: white;
  border: 2px;
  border-radius: 5px;
  padding: 0 20px;
  border-style: ridge;
  margin: 0 0 10px 20px;
}

#categoryLink3{
  font-size: 20px;
  text-decoration: none;
  color:black;
  background-color: white;
  border: 2px;
  border-radius: 5px;
  padding: 0 20px;
  border-style: ridge;
  margin: 0 0 10px 20px;
}

#categoryGenre_Link{
  text-decoration: none;
  color: blue;
}

#category_LeftLink{
  text-decoration: none;
  color: blue;
  width: 50%;
  padding: 0 100px 0 20px;
}

#category_RightLink{
  text-decoration: none;
  color: blue;
  width: 50%;
}

.categoryBox{
  &__GenreBox{
    background-color: white;
    border: 1px;
    margin-bottom: 40px;
  }
  &__BoxTitle{
    background-color: #3CCACE;
    color: white;
    font-size: 20px;
    font-weight: bold;
    line-height: 40px;
    padding-left: 20px;
    height: 40px;
  }
  &__WomanLink{
    padding: 24px 30px 5px 30px;
  }
  &__ListTitle{
    padding-top: 10px;
    padding: 0px 30px 5px 30px;
  }
  &__Links{
    padding: 0px 30px 10px 30px;
    display: flex;
  }
}
