
.big-box{
  display: flex;
  width: 80%;
  margin: auto;
  &__side-bar{
    width: 20%;
    &__mypj-box{
      width: 200px;
      margin: 30px auto;
      &__title{
        font-weight: bold;
      }
      &__contents{
        background-color: white;
        border-top: solid 1px;
        border-bottom: solid 1px;
        padding: 5px;
        color: black;
        
        }
    }
  }

  &__main-box{
    width: 100%;
    
    &__photos{
      margin: 10px auto;
      width: 90%;
      display: flex;
      position: relative;
      &__photo1{
        background-color: rgb(170, 165, 165);
        width: 100%;
      }



.camera{
  margin-left: 60px;
  width: 50px;
  height: 50px;
}
#image-box{
  background-color: gray;
  width: 191.25px;
  height: 191.25px;
}

    }
    &__form-box{
      width: 800px;
      margin: 30px auto;
      border-radius: 4px;
      &__confirm{
        padding: 5px;
        color: black;
        background-color: white;
        width: 100px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 30px;
        margin-left: 78%;
      }
      &__names{
        height: 50px;
        display: flex;
        justify-content: space-between;
        position: relative;
        &__name{
          display: inline-block;
          margin-bottom: 5px;
          font-weight: bold;
        }
        &__box{
          background-color:white;
          width: 70%;
          #item_name{
            width: 100%;
            height: 100%;
            font-size: 15px;
          }
        }
        .need{
          position: absolute;
          color:red;
          margin-left: 50px;
          font-size: 15px;
        }
      }
      &__explain{
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        padding-bottom: 30px;
        border-bottom: 1px solid rgb(131, 121, 121); 
        &__name{
          font-weight: bold;
        }
        &__box{
          background-color: white;
          width: 70%;
          height: 200px;
          #item_explain{
            width: 100%;
            height: 100%;
            font-size: 15px;
          }
        }
        .need{
          position: absolute;
          color:red;
          margin-left: 65px;
          font-size: 15px;
        }
      }
      &__category{
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        &__name{
          font-weight: bold;
        }
        &__box{
          background-color: white;
          height: 50px;
          width: 70%;
          #item_category_id{
            width: 100%;
            height: 100%;
            font-size: 15px;
          }
        }
        .need{
          position: absolute;
          color:red;
          margin-left: 65px;
          font-size: 15px;
        }
      }
      &__brand{
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        &__name{
          font-weight: bold;
        }
        &__box{
          background-color: white;
          height: 50px;
          width: 70%;
        }
        #item_brand_id{
          width: 100%;
          height: 100%;
          font-size: 15px;
        }
      }
      &__quarity{
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        padding-bottom: 30px;
        border-bottom: 1px solid rgb(131, 121, 121);
        &__name{
          font-weight: bold;
        }
        &__box{
          background-color: white;
          height: 50px;
          width: 70%;
          #item_quality{
            width: 100%;
            height: 100%;
            font-size: 15px;
          }
        }
        .need{
          position: absolute;
          color:red;
          margin-left: 85px;
          font-size: 15px;
        }
      }
      &__size{
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        padding-bottom: 30px;
        &__name{
          font-weight: bold;
        }
        &__box{
          background-color: white;
          height: 50px;
          width: 70%;
          #item_size{
            width: 100%;
            height: 100%;
            font-size: 15px;
          }
        }
        .need{
          position: absolute;
          color:red;
          margin-left: 85px;
          font-size: 15px;
        }
      }
      &__shipping-charges{
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        &__name{
          font-weight: bold;
        }
        &__box{
          background-color: white;
          height: 50px;
          width: 70%;
          #item_postage{
            width: 100%;
            height: 100%;
            font-size: 15px;
          }
        }
        .need{
          position: absolute;
          color:red;
          margin-left: 95px;
          font-size: 15px;
        }
      }
      &__way-of-delivary{
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        &__name{
          font-weight: bold;
        }
        &__box{
          background-color: white;
          height: 50px;
          width: 70%;
          #item_way_of_delivery{
            width: 100%;
            height: 100%;
            font-size: 15px;
          }
        }
      }
      &__shipping-area{
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        &__name{
          font-weight: bold;
        }
        &__box{
          background-color: white;
          height: 50px;
          width: 70%;
          #item_region{
            width: 100%;
            height: 100%;
            font-size: 15px;
          }
      }
      .need{
        position: absolute;
        color:red;
        margin-left: 100px;
        font-size: 15px;
      }
    }
      &__shipping-date{
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        padding-bottom: 30px;
        border-bottom: 1px solid rgb(131, 121, 121);
        &__name{
          font-weight: bold;
        }
        &__box{
          background-color: white;
          height: 50px;
          width: 70%;
          #item_shipping_date{
            width: 100%;
            height: 100%;
            font-size: 15px;
          }
        }
        .need{
          position: absolute;
          color:red;
          margin-left: 100px;
          font-size: 15px;
        }
      }
      &__SaleStatu{
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        &__name{
          font-weight: bold;
        }
        &__box{
          background-color: white;
          height: 50px;
          width: 70%;
          #item_SaleStatu{
            width: 100%;
            height: 100%;
            font-size: 15px;
          }
      }
      .need{
        position: absolute;
        color:red;
        margin-left: 100px;
        font-size: 15px;
      }
    }
      &__price{
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        padding-bottom: 100px;
        &__name{
          font-weight: bold;
        }
        &__box{
          background-color: white;
          height: 50px;
          width: 70%;
        }
        .need{
          position: absolute;
          color:red;
          margin-left: 65px;
          font-size: 15px;
        }
        #item_price{
          width: 100%;
          height: 100%;
          font-size: 15px;
        }
      }
      #go{
        width: 100%;
        font-size: 100px;
      }
    }
  }
}
.btn-square-toy {
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  background: #484d4e;/*背景色*/
  color:floralwhite;/*=背景色*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2);
  border-bottom: solid 2px #484d4e;
  border-radius: 4px;
  font-weight: bold;
  text-shadow: -1px -1px rgba(255, 255, 255, 0.44), 1px 1px rgba(0, 0, 0, 0.38);
  font-size: 30px;
  margin-left: 80%;
}

.btn-square-toy:active {
  /*押したとき*/
  border-bottom: solid 2px #00BCD4;
  box-shadow: none;
  text-shadow: -1px -1px rgba(255, 255, 255, 0.3), 1px 1px rgba(0, 0, 0, 0.3);
}
.js-file_group{
  background-color: grey;
}


.ana{
  width: 100px;
  height: 100px;
  top: 0;

}

