.editB{
  background-color: aquamarine;
  padding: 15px 20px;
  border: solid 1px;
}
.createB{
  background-color: tomato;
  padding: 15px 10px;
  margin-right: 10px;
  border: solid 1px;
}
.profileForm{
  margin: 0 30%;
  &__title{
    font-size: 25px;
    font-weight: bold;
  }
  &__items{
    width: 500px;
  }
  &__item{
    width: 500px;
    margin: 20px;
    &__name{
      font-size: 18px;
    }
    &__information input{
      font-size: 18px;
      width: 400px;
      margin-top: 5px;
    }
  }
  
}