.header {
  height: 128px;
  width: 100%;
  text-align: center;
  background-color: #EEEEEE;
  &__box {
    height: 49px;
    width: 193px;
    margin: 40px 0 0 ;
    display: inline-block;
        &__icon {
          height: 49px;
          width: 193px;
          &__content {
            margin: 0 8px 0 0;
          }
      }
  }
}
