.header {
  height: 128px;
  width: 100%;
  text-align: center;
  background-color: #EEEEEE;
  &__box {
    height: 49px;
    width: 193px;
    margin: 40px 0 0 ;
    display: inline-block;
        &__icon {
          height: 49px;
          width: 193px;
          &__content {
            margin: 0 8px 0 0;
          }
      }
  }
}
.center{
  &__text{
    text-align: center;
  }
}

.middle {
  height: 100%;
  width: 100%;
  background-color: white;
  .center {
    height: 100%;
    width: 900px;
    margin-right: auto;
    margin-left: auto;
    background-color: #ffffff;
      &__text {
        height: 80px;
        width: 100%;
        text-align: center;
        padding-top: 20px;
        vertical-align: middle;
        font-size: 30px;
      }
      &__describe {
        height: 100%;
        .contentskawano {
          height: 100%;
          width: 380px;
          margin-right: auto;
          margin-left: auto;
          justify-content:space-between;
          .passwordgroup {
            padding-top: 10px;
            height: 90px;
            width: 380px;
            input{
              margin-top: 10px;
              width: 500px;
              height: 40px;
              padding-left: 5px;
            }
            &__upper {
              height: 22px;
              width: 100%;
              display: flex;
              &__label {
                font-size: 14px;
                height: 16px;
                width: 100px;
                position: relative;
                margin: 8px 0 0 8px;
                display: inline-block;
              }
              &__require {
                height: 16px;
                width: 30px;
                font-size: 13px;
                color: #ffffff;
                padding: 0.3em 0.3em;
                margin: 4px 10px 0 0;
                border-radius: 9px;
                background-color: red;
              }
            }
            &__input__text {
              margin-top: 8px;
              height: 38px;
              width: 340px;
              padding: 10px 16px 8px;
              border: 1px solid #ccc;
              background: #fff;
              line-height: 1.2;
              font-size: 16px;
            }
        }
        .notice {
          padding-top: 10px;
          height: 48px;
          width: 340px;
          font-size: 14px;
        }
        .check {
          padding-top: 16px;
          height: 24px;
          width: 380px;
          display: flex;
          &__icon {
          }
          &__text {
            font-size: 12px;
            margin-top: 20px;
          }
        }
        .notice {
          height: 57px;
          width: 380px;
          &__upper {
            font-size: 14px;
            margin: 0;
            padding: 0;
          }
        }
        .zenkakugroup {
          padding-top: 40px;
          &__upper {
            height: 30px;
            width: 100%;
            display: flex;
            &__label {
              font-size: 14px;
              height: 16px;
              width: 100px;
              position: relative;
              margin: 8px 0 0 8px;
              display: inline-block;
            }
            &__require {
              height: 16px;
              width: 30px;
              font-size: 13px;
              color: #ffffff;
              padding: 0.3em 0.3em;
              margin: 4px 10px 0 0;
              border-radius: 9px;
              background-color: red;
            }
          }
          &__lower {
            height: 70px;
            border-radius: 4px;
            background: #fff;
            line-height: 1.5;
            font-size: 20px;
            display: flex;
            justify-content: space-between;
            &__first {
              height: 36px;
              width: 140px;
              margin: 8px 0 0;
              padding: 10px 16px 8px;
              border-radius: 4px;
              line-height: 1.5;
              font-size: 12px;
            }
            &__last {                            
              height: 36px;
              width: 140px;
              margin: 8px 0 0;
              padding-left: 40px;
              padding: 10px 16px 8px;
              border-radius: 4px;
              line-height: 1.5;
              font-size: 12px;
            }
          }
        }
        .kanagroup {
          padding-top: 40px;
          &__upper {
            height: 30px;
            width: 100%;
            display: flex;
            &__label {
              font-size: 14px;
              height: 16px;
              width: 100px;
              position: relative;
              margin: 8px 0 0 8px;
              display: inline-block;
            }
            &__require {
              height: 16px;
              width: 30px;
              font-size: 13px;
              color: #ffffff;
              padding: 0.3em 0.3em;
              margin: 4px 10px 0 0;
              border-radius: 9px;
              background-color: red;
            }
          }
          &__lower {
            height: 70px;
            border-radius: 4px;
            line-height: 1.5;
            font-size: 16px;
            display: flex;
            justify-content: space-between;
            &__first {
              height: 36px;
              width: 140px;
              margin: 8px 0 0;
              padding: 10px 16px 8px;
              border-radius: 4px;
              line-height: 1.5;
              font-size: 12px;
            }
            &__last {
              height: 36px;
              width: 140px;
              margin: 8px 0 0;
              padding: 10px 16px 8px;
              border-radius: 4px;
              line-height: 1.5;
              font-size: 12px;
            }
          }
        }
        .birthday {
          margin-top: 50px;
          &__upper {
            height: 30px;
            width: 100%;
            display: flex;
            &__label {
              font-size: 14px;
              height: 16px;
              width: 100px;
              position: relative;
              margin: 8px 0 0 8px;
              display: inline-block; 
            }
            &__require {
              height: 16px;
              width: 30px;
              font-size: 13px;
              color: #ffffff;
              padding: 0.3em 0.3em;
              margin: 4px 10px 0 0;
              border-radius: 9px;
              background-color: red;
            }
          }
          .select {
            display: flex;
            &__year {
              height: 48px;
              width: 76px;
              display: flex;
              &__pulldown {
                padding: 5px 0 5px;
                height: 33px;
                width:77px;
                color: gray;
                top: 5px;
                font-size: 1.5rem;
                font-weight: 100;
                cursor: pointer;
              }
              .year {
                margin: 10px 0 0 10px;
              }
            }
            &__month {
              margin-left: 50px;
              height: 48px;
              width: 76px;
              display: flex;
              &__pulldown {
                padding: 5px 0 5px;
                height: 33px;
                width: 77px;
                color: gray;
                top: 5px;
                font-size: 1.5rem;
                font-weight: 100;
                cursor: pointer;
              }
              .month {
                margin: 10px 0 0 10px;
              }
            }
            &__day {
              margin-left: 30px;
              height: 48px;
              width: 76px;
              display: flex;
              &__pulldown {
                padding: 5px 0 5px;
                height: 33px;
                width: 77px;
                color: gray;
                top: 5px;
                font-size: 1.5rem;
                font-weight: 100;
                cursor: pointer;
              }
              .day {
                margin: 10px 0 0 10px;
              }
            }
          }
        }
        .next {
          height: 50px;
          width: 3８0px;
          margin-top: 60px;
          margin-bottom: 60px;
          background: #ea352d;
          border: 1px solid #ea352d;
          text-align: center;
          padding-top: 30px;
          text-decoration: none;
          color: #fff;
        }
      }
    }
  }
}
.submit input{
  margin-top: 20px;
  background-color: #3CCACE;
  text-align: center;
  width: 510px;
  height: 40px;
}

